<section class="section alert-section">

  <div class="alert alert-info">
    <div class="alert-container">
      <div class="alert-icon">
        <i class="fa fa-info-circle"></i>
      </div>
      <button type="button" class="close-icon" data-dismiss="alert" aria-label="Close">
						<span>clear</span>
      </button>
      <b class="alert-info">Info</b> Hier finden sich Texte in verschiedene <a href="{{ site.baseurl }}/die-themenbereiche/" title="Was sind die Themenbereiche – Metainfo">Themenbereiche</a> geordnet, die Welt und Wirklichkeit sowie Leben der Menschen aus unterschiedlichen Blickwinkeln (perspektiven) betrachten · Die Texte bieten einen breiten thematischen Überblick. 
    </div>
  </div>

</section>
